.containerHome {
    display: grid;
    grid-template-rows: 1.5fr 18fr 1fr;
    height: 100vh;

    .main {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1.3fr 2fr 1fr;


        .contentMain {
            padding: 20px 0px;
            width: 550px;
            height: 350px;

            h1 {
                font-family: 'Roboto', sans-serif;
                font-size: 43px;
                background: linear-gradient(135deg,
                        var(--colors-purple) 0%,
                        var(--colors-green) 100%);
                background-size: 100;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent
            }

            p {
                margin-top: 16px;

                strong {
                    color: var(--white)
                }

                line-height: 32px;
                font-size: 16px;
            }

            .frase {
               
                display: flex;
                font-size: 18px;
                font-family: 'Roboto', sans-serif;
                align-items: center;
             
            }
        }
    }

}

@media screen and (max-width: 900px) {

    .containerHome {
        display: grid;
        grid-template-rows: 1.5fr 15fr 1fr;

        .main {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: 1fr 6fr 1fr;


            .contentMain {
                padding: 20px px;
                width: 100%;
                height: 350px;

                h1 {
                    font-family: 'Roboto', sans-serif;
                    font-size: 43px;
                    background: linear-gradient(135deg,
                            var(--colors-purple) 0%,
                            var(--colors-green) 100%);
                    background-size: 100;
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    -webkit-text-fill-color: transparent
                }

                p {
                    margin-top: 16px;

                    strong {
                        color: var(--white)
                    }

                    line-height: 32px;
                    font-size: 16px;
                }
            }
        }

    }
}