.header_Container {
   
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 59px;
    
    span {
        cursor: pointer;
    }

    
        .logoName{
            margin: 15px 0;
            font-size: 32px;
            font-weight: bold;
            margin-left: 12px;
            padding: 0 10px;

            background: linear-gradient(135deg,
                    var(--colors-purple) 0%,
                    var(--colors-pink) 100%);
            background-size: 100;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: 'Roboto', sans-serif;
        }
    


    .navigation_Container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        button {
            width: 100px;
            height: 100px;
        }

      

        .activeLink {
            text-decoration: none;
                color: var(--white);
                border-bottom: 2px solid white;
            
        }

        span {
            display: flex;
            align-items: center;
            justify-content: center;

            cursor: pointer;


            border-radius: 5px;
            font-size: 13px;
            padding: 13px;
            transition: background-color 0.5s;

            &:hover {
                background-color: #44475a;
            }

        }
    }

}

@media screen and (max-width: 900px) {
    .header_Container {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        
    }
}