
.header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
  

    .logoName {
        font-size: 32px;
        font-weight: bold;
        margin-left: 12px;
        padding: 0 10px;

        background: linear-gradient(135deg,
                var(--colors-purple) 0%,
                var(--colors-pink) 100%);
        background-size: 100;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Roboto', sans-serif;
    }
   
    .navigation {
        display:flex;
        justify-content: center;
        align-items: center;

        .aboutLink{
            text-decoration: none
        }
        span { 
            display:flex;
            align-items: center;
            justify-content: center;
         
            cursor: pointer;
           
            width:100px;
            border-radius: 5px;
            font-size: 13px;
            padding: 13px;
            transition: background-color 0.5s;
            &:hover{
                background-color: #44475a;
            }

        }
    }
}