:root {
    --purple-light: #5743D1;
    --green: #3FAD27;
    --red: 	#ad273f;
    --background: #EBEBEB;
    --shapes: #FFFFFF;
    --text-title: #3D3D4D;
    --text: #1C1C29;
    --text-light: #A09CB1;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font: 16px "Rubik", Arial, sans-serif;
    color: var(--purple-light);
  }
  
  input, textarea {
    font-family: "Poppins";
  }
  

  
  button{
    cursor: pointer;
  }