.title {
  margin-top:20px;
  margin-bottom: 10px;
  font-size: 43px;
  text-align: center;
  background: linear-gradient( 135deg, var(--colors-cyan) 0%, var(--colors-green) 100% );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subTitle{
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  background: linear-gradient( 135deg, var(--colors-cyan) 0%, var(--colors-green) 100% );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}
.titleTimeLine{
  font-size: 30px;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 20px;
}

.time {

  h3,
  h5 {
    color: var(--purple-light);
  }

  .verticalTimelineElementTitle {}

  .verticalTimelineElementSubtitle {}

  .description {}

  .date {}


}

@media only screen and (max-width: 1169px) {
  .workButton, .schoolButton{
    display: block !important;
    float: none !important;
    
    margin-top: 1.5em;
  }
}