.about_Container {
    display: grid;
    grid-template-rows: 1fr 20fr 1fr;
    height: 100vh;

    .main_Container {
        margin: auto;
        padding-top: 20px;
        max-width: 800px;
        background-color: #18161e36;
        padding: 20px;
        border-radius: 4px;

        .main_Content {
            padding: 20px 0px;
            width: 100%;

            h1 {
                margin-bottom: 20px;
                font-size: 43px;
                background: linear-gradient(135deg, var(--colors-purple) 0%, var(--colors-cyan) 100%);
                background-size: 100;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent;
            }



            .bio {
                display: flex;
                gap: 30px;

                img {
                    max-width: 370px;
                    height: 493.55px;
                    border-radius: 10px;
                }

                .description {
                    p {
                        font-size: 16px;
                        margin-bottom: 15px;
                        line-height: 30px;
                    }

                    .stackIcons {
                        a {
                            cursor: pointer;

                            img {
                                height: 50px;
                                filter: grayscale(100%);

                                &:hover {
                                    transition: 0.8s;
                                    filter: grayscale(0%);

                                }

                            }
                        }


                    }
                }

            }

            .jobs {
                h2 {
                    font-size: 24px;
                    margin: 20px 0;
                }

                h3 {
                    margin: 20px 0 0;
                    font-size: 18px;

                }
            }

        }
    }
}

@media screen and (max-width:760px) {
    .about_Container {
        .main_Container {

            display: flex;
            flex-direction: column;

            .main_Content {
                h1 {
                    padding-left: 20px;
                }

                .bio {

                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .description {
                        padding: 0px 20px;
                    }

                }

                .jobs {
                    padding: 0px 20px;
                }

            }
        }
    }

}